header {
	background-color: #ffffff;
	margin-top: 20px;
	margin-bottom: 20px;
	nav {
		text-align: right;
		ul {
			margin: 0px;
			padding: 0px;
			position: relative;
			top: 42px;
			li {
				display: inline-block;
				padding: 0px 15px;
				a {
					font-size: 36px;
					color: #000000;
				}
				a:hover {
					color:#666666;
				}
				a.active {
					color:#cccccc;
				}
			}
		}
	}
}

main {
	background-color: #ccc;
	padding: 50px 0px;
	margin-bottom: 20px;
}
