header {
	background-color: #ffffff;
	margin-top: 20px;
	margin-bottom: 20px;
	nav {
		text-align: right;
		ul {
			margin: 0px;
			padding: 0px;
			position: relative;
			top: 42px;
			li {
				display: inline-block;
				padding: 0px 15px;
				a {
					font-size: 36px;
					color: #000000;
				}
				a:hover {
					color:#666666;
				}
				a.active {
					color:#cccccc;
				}
			}
		}
	}
}
main {
	background-color: #ccc;
	padding: 50px 0px;
	margin-bottom: 20px;
}

form {
	margin: 20px 0px;
	.text-field {
		float:left;
		label {
			display: block;
			color:blue;
		}
		textarea {
			display: block;
		}
	}
	.radio-block {
		padding-left: 280px;
		.type-graph {
			display: block;
		}
	}	
}
.clear {
	clear: both;
}
svg {
	background-color: #ffffff;
	display: block;
	rect {
	    display: inline-block;
	    background-color: teal;
	    margin-right: 2px;
	}
	div.bar:last-child {
	    margin-right: 0px;
	}	
}

