<%- partial("header")%>

	<main>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="content">
						<graph></graph>	
					</div>
				</div>
				<div class="col-md-4">
					
					<div class="sidebar">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nam, ab velit eveniet eligendi perferendis quod! Porro ex enim voluptatibus, voluptate reiciendis facilis, asperiores quisquam maiores laboriosam ullam quo sit?
					</div>
				</div>
			</div>
		</div>		
	</main>
	<%if(method == 'POST') { %>
		<script>
		window.onload = function () {
			var graph = <%- graphType %>
			var dataJson = <%- dataJson%>

		switch (graph) {
			case 1 : firstGraph(dataJson); 
					break;
			case 2 : secondGraph(dataJson); 
					break;
			case 3 : thirdGraph(dataJson); 
					break;
			default : alert("Щось пішло не так("); break;
			}
		}
		</script>		
	<%}%>


<%- partial("footer") %>