<%- partial("header") %>
	<main>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda tempora cum illo sapiente magnam earum libero nobis accusamus architecto, soluta aspernatur id, odio quidem	
					</div>
					<form action="/graph" method="POST">
						
						<div class="text-field">
							<label for="dataJson">Ведіть дані для графіка
							<textarea name="dataJson" id="data-value" cols="30" rows="10"></textarea></label>							
						</div>

						
						<div class="radio-block">
						<p>Оберіть тип графіка.</p>
							<div class="type-graph">
								<input id="radio1" name="graphType" type="radio" value="1" checked>
								<label for="radio1">Стовпчикова діаграми</label>								
							</div>
						
							<div class="type-graph">
								<input id="radio2" name="graphType" type="radio" value="2"><label for="radio2">Другий тип</label>
							</div>
						<!--	<div class="type-graph">
								<input id="radio3" name="graphType" type="radio" value="3"><label for="radio3">Третій тип</label>
							</div>
						-->	
						</div>
						
						<div class="clear"></div>

						<input class="btn" type="submit" value="Відправити">
					</form>
				</div>
				<div class="col-md-4">
					<div class="sidebar">
					<h3>Приклад даних для діаграми</h3>
					<p>[9, 5, 11, 7, 15, 7]</p>
					<p>[ { "age": "<5", "population": 2704659 }, { "age": "5-13", "population": 4499890 }, { "age": "14-17", "population": 2159981 }, { "age": "18-24", "population": 3853788 }, { "age": "25-44", "population": 14106543 }, { "age": "45-64", "population": 8819342 }, { "age": "≥65", "population": 612463 } ]</p>
					</div>
				</div>
			</div>
		</div>		
	</main>

<%- partial("footer") %>